A {text-decoration:none;}
A:link {text-decoration:none;color:#D1B1A1;}
A:visited {text-decoration:none;color:#D1B1A1;}
A:active {text-decoration:none;color:#E8D9D0;}
A:hover {text-decoration:none;color:#E8D9D0;}
